AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-3
AWS_DEFAULT_OUTPUT=json

# Apps deployment env var
DB_URL=postgres.justalternate-eks-cluster.internal
DB_NAME=my_postgres
DB_USERNAME=username
DB_PASSWORD=password
