apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server-deployment
  labels:
    app: web-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      containers:
      - name: web-server
        image: 149536499628.dkr.ecr.eu-west-3.amazonaws.com/web-server:latest
        imagePullPolicy: Always
        ports:
        - name: web
          containerPort: 8080
        env:
        - name: API_URL
          value: http://api-service:3030
        startupProbe:
          httpGet:
            path: /liveness
            port: web
          failureThreshold: 2
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /liveness
            port: web
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /readiness
            port: web
          periodSeconds: 5
