apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
        monitoring: http-metrics
    spec:
      containers:
      - name: api
        image: 149536499628.dkr.ecr.eu-west-3.amazonaws.com/api:latest
        imagePullPolicy: Always
        ports:
        - name: web
          containerPort: 3030
        env:
        - name: DB_URL
          valueFrom:
            secretKeyRef:
              name: rds-credentials
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: rds-credentials
              key: DB_NAME
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: rds-credentials
              key: DB_USERNAME
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rds-credentials
              key: DB_PASSWORD
        startupProbe:
          httpGet:
            path: /liveness
            port: web
          failureThreshold: 2
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /liveness
            port: web
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /readiness
            port: web
          periodSeconds: 5
